/* From Uiverse.io by andrew-manzyk */
.loader {
    --color-one: #00c3ff;
    --color-two: #1dbe45;
    --color-three: #ea00ff80;
    --color-four: #fc303080;
    --color-five: #47c5ff40;
    --time-animation: 2s;
    --size: 1;
    /* You can change the size */
    position: relative;
    border-radius: 50%;
    transform: scale(var(--size));
    box-shadow:
        0 0 25px 0 var(--color-three),
        0 20px 50px 0 var(--color-four);
    animation: colorize calc(var(--time-animation) * 3) ease-in-out infinite;
}

.loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: solid 1px var(--color-one);
    border-bottom: solid 1px var(--color-two);
    background: linear-gradient(180deg, var(--color-five), var(--color-four));
    box-shadow:
        inset 0 30px 30px 0 var(--color-three),
        inset 0 -20px 20px 0 var(--color-four);
}

.loader .box {
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg,
            var(--color-one) 30%,
            var(--color-two) 70%);
    mask: url(#clipping);
    -webkit-mask: url(#clipping);
}

.loader svg {
    position: absolute;
}

.loader svg #clipping {
    filter: contrast(15);
    animation: roundness calc(var(--time-animation) / 2) linear infinite;
}

.loader svg #clipping polygon {
    filter: blur(6px);
}

.loader svg #clipping polygon:nth-child(1) {
    transform-origin: 75% 25%;
    transform: rotate(90deg);
}

.loader svg #clipping polygon:nth-child(2) {
    transform-origin: 50% 50%;
    animation: rotation var(--time-animation) linear infinite reverse;
}

.loader svg #clipping polygon:nth-child(3) {
    transform-origin: 50% 60%;
    animation: rotation var(--time-animation) linear infinite;
    animation-delay: calc(var(--time-animation) / -3);
}

.loader svg #clipping polygon:nth-child(4) {
    transform-origin: 40% 40%;
    animation: rotation var(--time-animation) linear infinite reverse;
}

.loader svg #clipping polygon:nth-child(5) {
    transform-origin: 40% 40%;
    animation: rotation var(--time-animation) linear infinite reverse;
    animation-delay: calc(var(--time-animation) / -2);
}

.loader svg #clipping polygon:nth-child(6) {
    transform-origin: 60% 40%;
    animation: rotation var(--time-animation) linear infinite;
}

.loader svg #clipping polygon:nth-child(7) {
    transform-origin: 60% 40%;
    animation: rotation var(--time-animation) linear infinite;
    animation-delay: calc(var(--time-animation) / -1.5);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes roundness {
    0% {
        filter: contrast(15);
    }

    20% {
        filter: contrast(3);
    }

    40% {
        filter: contrast(3);
    }

    60% {
        filter: contrast(15);
    }

    100% {
        filter: contrast(15);
    }
}

@keyframes colorize {
    0% {
        filter: hue-rotate(0deg);
    }

    20% {
        filter: hue-rotate(-30deg);
    }

    40% {
        filter: hue-rotate(-60deg);
    }

    60% {
        filter: hue-rotate(-90deg);
    }

    80% {
        filter: hue-rotate(-45deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}


/* From Uiverse.io by cssbuttons-io */
button span {
    align-items: center;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

button:active,
button:hover {
    outline: 0;
}

button span {
    background-color: rgb(35, 183, 194);
    padding: 16px 24px;
    border-radius: 32px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

button:hover span {
    background: none;
    background-image: linear-gradient(144deg, #b14df8, #5b42f3 50%, #00ddeb);

}

button:active {
    transform: scale(0.9);
}


/* Efeito de Brilho Pulsante (Glow) para o Título */
.title-glow {
    /* Aplica a animação */
    animation: pulsateGlow 3s ease-in-out infinite alternate;
}

/* Definição da Animação */
@keyframes pulsateGlow {
    0% {
        /* Brilho mínimo */
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.5), 0 0 8px rgba(255, 255, 255, 0.2);
    }

    100% {
        /* Brilho máximo */
        text-shadow: 0 0 20px #fff, 0 0 20px #66aaff, 0 0 30px #006aff;
    }
}